
*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: linear-gradient(to left,rgb(255, 81, 0),green);
}
.main{
    position: absolute;
    border: 2px solid blue;
    width: 50%;
    height: 70%;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    background:linear-gradient(to top left,rgb(0, 0, 255),rgb(0, 191, 255));
    overflow: hidden;
    box-shadow: 14px 17px 16px 16px rgba(0,0,0,0.75);
}
.header{
    border: 1px solid black;
    width: 50%;
    height: 70px;
    width: 100%;
    line-height: 70px;
    background: linear-gradient(to left,lightblue,rgb(31, 31, 250));
    font-size: 35px;
    border-bottom: 4px solid black;
}
.inputsquare{
    background: linear-gradient(to left,lightblue,rgb(31, 31, 250));
    width: 60%;
    margin-top: 4.5px;
    margin-left: -1px;
    float: left;
}
.cityname{
    font-size: 70px;
    color: rgb(238, 255, 0);
}
.input{
    border: none;
    background: transparent;
    width: 50%;
    height: 50px;
    font-size: 45px;
    border-bottom: 5px solid black;
    color: yellow;
}
.input::placeholder{
    color: white;
}
.warning{
    color: red;
}
.click{
    width: 150px;
    height: 90px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 10px;
    font-size: 50px;
    box-shadow: 5px 5px 7px 5px rgba(0,0,0,0.5);
    background: transparent;
    transition: .2s linear;
}

.spaceimg{
    width: 39.99%;
    float: left;
    background: linear-gradient(to left,rgb(31, 31, 250),lightblue);
    margin-top: 4px;
    padding-top: 17.8%;
}
.click:hover{
    background-color: black;
    color: white;
    box-shadow: 7px 7px 9px 7px rgba(0,0,0,0.5);
}